html {
	font-size: var(--font-size, 21px);
	line-height: var(--font-line-height, 1.5);
	font-family: var(--font-family-main, Verdana, sans-serif);
}

body, button, input, select, option {
	font: inherit;
}

p, ul, ol {
	padding-bottom: var(--layout-padding-b, 1.5em);
}

a {
	text-decoration: none;
	color: #369;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-headings, var(--font-family-main));
	line-height: 1.2;
	padding-bottom: 0.5em;
}

/*h1 { font-size: 2.8em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }*/
